name: Toggle Json Boolean Value

on: 
  workflow_dispatch: # Manual Trigger

permissions:
  contents: write
  pull-requests: write

jobs:
  toggle-yaml-flag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Toggle isCool (Boolean) Field
        run:
          |
          # File Path
          # yq command to handle Yaml files, -i: inplace
          yq -i '(.config[] | select(.name == "Roronoa") | .isCool) |= not' ./settings_files/sample.yaml
          # yq -i '.config[].isCool |= not' config.yml # --> ALL Characters with Is Cool will change

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: "Toggle isCool status"
          title: "Automatic Toggle of isCool Flag"
          body: "PR generated automatically but triggered manualy to Toggle isCool flag"
          branch: "auto/toggle-yaml"
          delete-branch: true


  